<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^localhost$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^localhost$
	RewriteCond %{REQUEST_URI} !quiz-laravel/
	RewriteRule (.*) /quiz-laravel/$1 [L]
</IfModule>